<app-menu>

</app-menu>

<!-- <app-rating (onRating)="handleRating($event)">

</app-rating> -->

<input type="checkbox" checked (change)="display = !display"> Display
<div *ngIf="!display">
<input type="text" (input)="OnInputChange($event)" />

<app-life-cycle-test [title]="title">

</app-life-cycle-test>

</div>

<!-- <div class="container">
  <h1>Hi Movies</h1>
  <h2>Current Movies</h2>
  <app-movies-list [movies]="moviesInTheaters"> </app-movies-list>

  <h2>Up-Coming Movies</h2>
  <app-movies-list [movies]="moviesInFutureRelease"> </app-movies-list>
</div> -->

